In [2]:
#  這個章節中使用到的restaurant的csv檔是兩週內來用餐的客戶以及滿意度
import pandas as pd

In [3]:
#  這個文件記錄客戶點的餐，所以記錄了第一週的客戶id與食物id
weak1 = pd.read_csv('Restaurant - Week 1 Sales.csv')
weak1.head()

   Customer ID  Food ID
0          537        9
1           97        4
2          658        1
3          202        2
4          155        9

In [4]:
#  另外有第二週
weak2 = pd.read_csv('Restaurant - Week 2 Sales.csv')
weak2.head()

   Customer ID  Food ID
0          688       10
1          813        7
2          495       10
3          189        5
4          267        3

In [5]:
#  這是客戶資料
customers = pd.read_csv('Restaurant - Customers.csv')
customers.head()

   ID First Name Last Name  Gender  Company                     Occupation
0   1     Joseph   Perkins    Male  Dynazzy  Community Outreach Specialist
1   2   Jennifer   Alvarez  Female     DabZ        Senior Quality Engineer
2   3      Roger     Black    Male  Tagfeed              Account Executive
3   4     Steven     Evans    Male     Fatz               Registered Nurse
4   5       Judy  Morrison  Female  Demivee                Legal Assistant

In [6]:
#  食物的主檔
foods = pd.read_csv('Restaurant - Foods.csv')
foods.head()

   Food ID   Food Item  Price
0        1       Sushi   3.99
1        2     Burrito   9.99
2        3        Taco   2.99
3        4  Quesadilla   4.25
4        5       Pizza   2.49

## The pd.concat() Method Part1

In [7]:
weak1 = pd.read_csv('Restaurant - Week 1 Sales.csv')
weak2 = pd.read_csv('Restaurant - Week 2 Sales.csv')
customers = pd.read_csv('Restaurant - Customers.csv')
foods = pd.read_csv('Restaurant - Foods.csv')

In [8]:
#  利用pandas的concat來堆疊資料，但會發現一件事，為何資料應該有500筆
#  但是索引卻只出現249(250筆)?
#  這跟參數ignore_index有關
pd.concat([weak1, weak2])

     Customer ID  Food ID
0            537        9
1             97        4
2            658        1
3            202        2
4            155        9
5            213        8
6            600        1
7            503        5
8             71        3
9            174        3
10           961        9
11           966        5
12           641        4
13           288        2
14           149        4
15           954        2
16           147        9
17           155        1
18           550        6
19           101        7
20           549        6
21            75        6
22            78        7
23           514        5
24           833        7
25           329        8
26           586       10
27           341        1
28           519       10
29           680        9
..           ...      ...
220          495        2
221          794        6
222          734       10
223          540        3
224          735        2
225          940        8
226          571        7
227          888        2
228          664        6
229          343        7
230          143        4
231          505        3
232           54        8
233          959        2
234          367        8
235          883        8
236          251        9
237          855        4
238          233        3
239          559       10
240          734        1
241          677        3
242          276        4
243           45        8
244          945        4
245          783       10
246          556       10
247          547        9
248          252        9
249          249        6

[500 rows x 2 columns]

In [9]:
len(pd.concat([weak1, weak2]))

500

In [10]:
#  主要問題在於，兩個dataframe有相同的index，都是由0-249，所以覆蓋了
#  當我們透過參數ingore_index設置為True的時候，就可以明確的顯示了。
pd.concat([weak1, weak2], ignore_index=True)

     Customer ID  Food ID
0            537        9
1             97        4
2            658        1
3            202        2
4            155        9
5            213        8
6            600        1
7            503        5
8             71        3
9            174        3
10           961        9
11           966        5
12           641        4
13           288        2
14           149        4
15           954        2
16           147        9
17           155        1
18           550        6
19           101        7
20           549        6
21            75        6
22            78        7
23           514        5
24           833        7
25           329        8
26           586       10
27           341        1
28           519       10
29           680        9
..           ...      ...
470          495        2
471          794        6
472          734       10
473          540        3
474          735        2
475          940        8
476          571        7
477          888        2
478          664        6
479          343        7
480          143        4
481          505        3
482           54        8
483          959        2
484          367        8
485          883        8
486          251        9
487          855        4
488          233        3
489          559       10
490          734        1
491          677        3
492          276        4
493           45        8
494          945        4
495          783       10
496          556       10
497          547        9
498          252        9
499          249        6

[500 rows x 2 columns]

In [11]:
#  當column名稱不同的時候，pandas不會知道你要什麼
#  所以就會把它就這樣串聯起來而以，該null的給null
pd.concat([weak1, foods])

     Customer ID  Food ID   Food Item  Price
0          537.0        9         NaN    NaN
1           97.0        4         NaN    NaN
2          658.0        1         NaN    NaN
3          202.0        2         NaN    NaN
4          155.0        9         NaN    NaN
5          213.0        8         NaN    NaN
6          600.0        1         NaN    NaN
7          503.0        5         NaN    NaN
8           71.0        3         NaN    NaN
9          174.0        3         NaN    NaN
10         961.0        9         NaN    NaN
11         966.0        5         NaN    NaN
12         641.0        4         NaN    NaN
13         288.0        2         NaN    NaN
14         149.0        4         NaN    NaN
15         954.0        2         NaN    NaN
16         147.0        9         NaN    NaN
17         155.0        1         NaN    NaN
18         550.0        6         NaN    NaN
19         101.0        7         NaN    NaN
20         549.0        6         NaN    NaN
21          75.0        6         NaN    NaN
22          78.0        7         NaN    NaN
23         514.0        5         NaN    NaN
24         833.0        7         NaN    NaN
25         329.0        8         NaN    NaN
26         586.0       10         NaN    NaN
27         341.0        1         NaN    NaN
28         519.0       10         NaN    NaN
29         680.0        9         NaN    NaN
..           ...      ...         ...    ...
230        584.0       10         NaN    NaN
231        148.0        5         NaN    NaN
232        595.0        3         NaN    NaN
233        274.0       10         NaN    NaN
234        646.0        1         NaN    NaN
235        520.0        8         NaN    NaN
236        644.0        8         NaN    NaN
237        725.0        8         NaN    NaN
238        934.0        4         NaN    NaN
239        151.0       10         NaN    NaN
240        945.0        5         NaN    NaN
241        343.0        3         NaN    NaN
242        380.0        9         NaN    NaN
243        911.0        4         NaN    NaN
244        621.0        9         NaN    NaN
245        413.0        9         NaN    NaN
246        926.0        6         NaN    NaN
247        134.0        3         NaN    NaN
248        396.0        6         NaN    NaN
249        535.0       10         NaN    NaN
0            NaN        1       Sushi   3.99
1            NaN        2     Burrito   9.99
2            NaN        3        Taco   2.99
3            NaN        4  Quesadilla   4.25
4            NaN        5       Pizza   2.49
5            NaN        6       Pasta  13.99
6            NaN        7       Steak  24.99
7            NaN        8       Salad  11.25
8            NaN        9       Donut   0.99
9            NaN       10       Drink   1.75

[260 rows x 4 columns]

## The pd.concat() Method Part2

In [12]:
weak1 = pd.read_csv('Restaurant - Week 1 Sales.csv')
weak2 = pd.read_csv('Restaurant - Week 2 Sales.csv')
customers = pd.read_csv('Restaurant - Customers.csv')
foods = pd.read_csv('Restaurant - Foods.csv')

In [15]:
#  上節的例子我們發現到，當我們將資料串聯(堆疊)之後，我們無法知道那些資料來自何處
#  如果你排序了資料就更無法發現
#  透過參數keys，我們可以設置來源說明，不一定要跟原資料源命名相同
#  一個重點是，當我們使用這個方式的時候不能設置ignore_index=True
pd.concat([weak1, weak2], keys=['weak1', 'weak2'], ignore_index=False)

           Customer ID  Food ID
weak1 0            537        9
      1             97        4
      2            658        1
      3            202        2
      4            155        9
      5            213        8
      6            600        1
      7            503        5
      8             71        3
      9            174        3
      10           961        9
      11           966        5
      12           641        4
      13           288        2
      14           149        4
      15           954        2
      16           147        9
      17           155        1
      18           550        6
      19           101        7
      20           549        6
      21            75        6
      22            78        7
      23           514        5
      24           833        7
      25           329        8
      26           586       10
      27           341        1
      28           519       10
      29           680        9
...                ...      ...
weak2 220          495        2
      221          794        6
      222          734       10
      223          540        3
      224          735        2
      225          940        8
      226          571        7
      227          888        2
      228          664        6
      229          343        7
      230          143        4
      231          505        3
      232           54        8
      233          959        2
      234          367        8
      235          883        8
      236          251        9
      237          855        4
      238          233        3
      239          559       10
      240          734        1
      241          677        3
      242          276        4
      243           45        8
      244          945        4
      245          783       10
      246          556       10
      247          547        9
      248          252        9
      249          249        6

[500 rows x 2 columns]

In [25]:
sales = pd.concat([weak1, weak2], keys=['weak1', 'weak2'], ignore_index=False)
sales.loc[['weak1']]

           Customer ID  Food ID
weak1 0            537        9
      1             97        4
      2            658        1
      3            202        2
      4            155        9
      5            213        8
      6            600        1
      7            503        5
      8             71        3
      9            174        3
      10           961        9
      11           966        5
      12           641        4
      13           288        2
      14           149        4
      15           954        2
      16           147        9
      17           155        1
      18           550        6
      19           101        7
      20           549        6
      21            75        6
      22            78        7
      23           514        5
      24           833        7
      25           329        8
      26           586       10
      27           341        1
      28           519       10
      29           680        9
...                ...      ...
      220          147        8
      221          745        4
      222          184        3
      223          828        8
      224          578        5
      225          491        4
      226           62        4
      227           77        9
      228          506        9
      229          271        9
      230          584       10
      231          148        5
      232          595        3
      233          274       10
      234          646        1
      235          520        8
      236          644        8
      237          725        8
      238          934        4
      239          151       10
      240          945        5
      241          343        3
      242          380        9
      243          911        4
      244          621        9
      245          413        9
      246          926        6
      247          134        3
      248          396        6
      249          535       10

[250 rows x 2 columns]

## The .append() Method

In [3]:
weak1 = pd.read_csv('Restaurant - Week 1 Sales.csv')
weak2 = pd.read_csv('Restaurant - Week 2 Sales.csv')
customers = pd.read_csv('Restaurant - Customers.csv')
foods = pd.read_csv('Restaurant - Foods.csv')

In [4]:
#  append功用類似於.concat，一個是pandan的函式，一個是dataframe
weak2.append(weak1)

     Customer ID  Food ID
0            688       10
1            813        7
2            495       10
3            189        5
4            267        3
5            310        5
6            761        2
7            443        5
8            729        9
9            741        8
10           847        6
11           156       10
12           550        7
13           620       10
14           272        4
15           511        2
16             8        6
17           534        7
18           909        6
19           732        9
20           372        4
21           713        1
22           496        3
23           381        9
24            13        2
25           101        4
26           325        7
27           674        2
28           564        8
29           578        5
..           ...      ...
220          147        8
221          745        4
222          184        3
223          828        8
224          578        5
225          491        4
226           62        4
227           77        9
228          506        9
229          271        9
230          584       10
231          148        5
232          595        3
233          274       10
234          646        1
235          520        8
236          644        8
237          725        8
238          934        4
239          151       10
240          945        5
241          343        3
242          380        9
243          911        4
244          621        9
245          413        9
246          926        6
247          134        3
248          396        6
249          535       10

[500 rows x 2 columns]

In [5]:
#  也有ignore_index
weak2.append(weak1, ignore_index=True)

     Customer ID  Food ID
0            688       10
1            813        7
2            495       10
3            189        5
4            267        3
5            310        5
6            761        2
7            443        5
8            729        9
9            741        8
10           847        6
11           156       10
12           550        7
13           620       10
14           272        4
15           511        2
16             8        6
17           534        7
18           909        6
19           732        9
20           372        4
21           713        1
22           496        3
23           381        9
24            13        2
25           101        4
26           325        7
27           674        2
28           564        8
29           578        5
..           ...      ...
470          147        8
471          745        4
472          184        3
473          828        8
474          578        5
475          491        4
476           62        4
477           77        9
478          506        9
479          271        9
480          584       10
481          148        5
482          595        3
483          274       10
484          646        1
485          520        8
486          644        8
487          725        8
488          934        4
489          151       10
490          945        5
491          343        3
492          380        9
493          911        4
494          621        9
495          413        9
496          926        6
497          134        3
498          396        6
499          535       10

[500 rows x 2 columns]

## Inner join Part1

In [6]:
weak1 = pd.read_csv('Restaurant - Week 1 Sales.csv')
weak2 = pd.read_csv('Restaurant - Week 2 Sales.csv')
customers = pd.read_csv('Restaurant - Customers.csv')
foods = pd.read_csv('Restaurant - Foods.csv')

In [7]:
#  注意到參數中有一個how，這是決定join的方式，inner、left、right
#  on的部份必需欄位的名稱相同
#  回傳的是一個新的dataframe，並且自動的將我們的欄位做了區隔，避免混亂
#  當然我們會發現有客戶怎麼出現兩筆了，這是因為該客戶在一週內買了多件產品
weak1.merge(weak2, how='inner', on='Customer ID')

    Customer ID  Food ID_x  Food ID_y
0           537          9          5
1           155          9          3
2           155          1          3
3           503          5          8
4           503          5          9
5           550          6          7
6           101          7          4
7            75          6          4
8            77          1          7
9            77          9          7
10           77          2          7
11           77          9          7
12          628          4          7
13          798          9          5
14          798          1          5
15          462          3          8
16          304          3          3
17          304          2          3
18          189          4          5
19          799          8          7
20           30          2          4
21          249          9          6
22          677         10          3
23          741          3          8
24          540          3          3
25          819          4          5
26          937         10         10
27          937         10          2
28          233          3          3
29           21          4          4
..          ...        ...        ...
32          816          7          2
33          761          9          2
34          761          9          3
35           80          2          4
36          479          6          3
37          922          1          1
38          922          1          2
39          909          1          6
40          909          4          6
41          919         10          8
42          574         10          9
43           45          7          8
44          529          7         10
45          673          7          4
46          310          2          5
47          310          1          5
48          867          9         10
49          968          1          4
50          482          3          1
51          163          1         10
52          321          1          3
53          783          6         10
54          578          5          5
55          578          5          5
56          520          8          7
57          945          5          4
58          343          3          5
59          343          3          2
60          343          3          7
61          621          9          6

[62 rows x 3 columns]

In [8]:
weak1[weak1['Customer ID']==155]

    Customer ID  Food ID
4           155        9
17          155        1

In [9]:
weak2[weak2['Customer ID']==155]

     Customer ID  Food ID
208          155        3

In [11]:
#  後綴的部份當然也是可以調整，預設_x、_y可以從參數說明看的出來
weak1.merge(weak2, how='inner', on='Customer ID', suffixes=['_weak1', '_weak2']).head()

   Customer ID  Food ID_weak1  Food ID_weak2
0          537              9              5
1          155              9              3
2          155              1              3
3          503              5              8
4          503              5              9

## Inner join Part2

In [12]:
weak1 = pd.read_csv('Restaurant - Week 1 Sales.csv')
weak2 = pd.read_csv('Restaurant - Week 2 Sales.csv')
customers = pd.read_csv('Restaurant - Customers.csv')
foods = pd.read_csv('Restaurant - Foods.csv')

In [13]:
#  這次我們要找在第一週、第二週都買相同東西的客戶
#  呈現的結果會發現，沒有後綴，這顯示pandas夠聰明!
#  pandas並不會自動將資料做distinct，所以重覆的資料還是會呈現
weak1.merge(weak2, how='inner', on=['Customer ID', 'Food ID'])

   Customer ID  Food ID
0          304        3
1          540        3
2          937       10
3          233        3
4           21        4
5           21        4
6          922        1
7          578        5
8          578        5

## Outer joins

In [14]:
weak1 = pd.read_csv('Restaurant - Week 1 Sales.csv')
weak2 = pd.read_csv('Restaurant - Week 2 Sales.csv')
customers = pd.read_csv('Restaurant - Customers.csv')
foods = pd.read_csv('Restaurant - Foods.csv')

In [16]:
#  這次嚐試outer join
weak1.merge(weak2, how='outer', on='Customer ID', suffixes=['_weak1', '_weak2'])

     Customer ID  Food ID_weak1  Food ID_weak2
0            537            9.0            5.0
1             97            4.0            NaN
2            658            1.0            NaN
3            202            2.0            NaN
4            155            9.0            3.0
5            155            1.0            3.0
6            213            8.0            NaN
7            600            1.0            NaN
8            503            5.0            8.0
9            503            5.0            9.0
10            71            3.0            NaN
11            71            8.0            NaN
12           174            3.0            NaN
13           961            9.0            NaN
14           966            5.0            NaN
15           641            4.0            NaN
16           288            2.0            NaN
17           149            4.0            NaN
18           954            2.0            NaN
19           147            9.0            NaN
20           147            8.0            NaN
21           550            6.0            7.0
22           101            7.0            4.0
23           549            6.0            NaN
24            75            6.0            4.0
25            78            7.0            NaN
26           514            5.0            NaN
27           833            7.0            NaN
28           833            3.0            NaN
29           329            8.0            NaN
..           ...            ...            ...
424          622            NaN            9.0
425          959            NaN            4.0
426          959            NaN            2.0
427          810            NaN            2.0
428          488            NaN            2.0
429          188            NaN            8.0
430          305            NaN            2.0
431          869            NaN            7.0
432          131            NaN            1.0
433          208            NaN            4.0
434          145            NaN            5.0
435          794            NaN            6.0
436          734            NaN           10.0
437          734            NaN            1.0
438          735            NaN            2.0
439          940            NaN            8.0
440          571            NaN            7.0
441          888            NaN            2.0
442          664            NaN            6.0
443          143            NaN            4.0
444          505            NaN            3.0
445           54            NaN            8.0
446          367            NaN            8.0
447          883            NaN            8.0
448          251            NaN            9.0
449          855            NaN            4.0
450          559            NaN           10.0
451          276            NaN            4.0
452          556            NaN           10.0
453          252            NaN            9.0

[454 rows x 3 columns]

In [17]:
#  利用indicator來顯示資料join的來源
#  回傳資料可以明確看到，有來自both，來自left only、right only
weak1.merge(weak2, how='outer', on='Customer ID'
            , suffixes=['_weak1', '_weak2'], indicator=True)

     Customer ID  Food ID_weak1  Food ID_weak2      _merge
0            537            9.0            5.0        both
1             97            4.0            NaN   left_only
2            658            1.0            NaN   left_only
3            202            2.0            NaN   left_only
4            155            9.0            3.0        both
5            155            1.0            3.0        both
6            213            8.0            NaN   left_only
7            600            1.0            NaN   left_only
8            503            5.0            8.0        both
9            503            5.0            9.0        both
10            71            3.0            NaN   left_only
11            71            8.0            NaN   left_only
12           174            3.0            NaN   left_only
13           961            9.0            NaN   left_only
14           966            5.0            NaN   left_only
15           641            4.0            NaN   left_only
16           288            2.0            NaN   left_only
17           149            4.0            NaN   left_only
18           954            2.0            NaN   left_only
19           147            9.0            NaN   left_only
20           147            8.0            NaN   left_only
21           550            6.0            7.0        both
22           101            7.0            4.0        both
23           549            6.0            NaN   left_only
24            75            6.0            4.0        both
25            78            7.0            NaN   left_only
26           514            5.0            NaN   left_only
27           833            7.0            NaN   left_only
28           833            3.0            NaN   left_only
29           329            8.0            NaN   left_only
..           ...            ...            ...         ...
424          622            NaN            9.0  right_only
425          959            NaN            4.0  right_only
426          959            NaN            2.0  right_only
427          810            NaN            2.0  right_only
428          488            NaN            2.0  right_only
429          188            NaN            8.0  right_only
430          305            NaN            2.0  right_only
431          869            NaN            7.0  right_only
432          131            NaN            1.0  right_only
433          208            NaN            4.0  right_only
434          145            NaN            5.0  right_only
435          794            NaN            6.0  right_only
436          734            NaN           10.0  right_only
437          734            NaN            1.0  right_only
438          735            NaN            2.0  right_only
439          940            NaN            8.0  right_only
440          571            NaN            7.0  right_only
441          888            NaN            2.0  right_only
442          664            NaN            6.0  right_only
443          143            NaN            4.0  right_only
444          505            NaN            3.0  right_only
445           54            NaN            8.0  right_only
446          367            NaN            8.0  right_only
447          883            NaN            8.0  right_only
448          251            NaN            9.0  right_only
449          855            NaN            4.0  right_only
450          559            NaN           10.0  right_only
451          276            NaN            4.0  right_only
452          556            NaN           10.0  right_only
453          252            NaN            9.0  right_only

[454 rows x 4 columns]

In [19]:
#  那麼indicator的用處在那?透過欄位我們可以快速的理解資料集
#  我們看到存在第二週的資料有197筆，單存的第一週的有195..
merged=weak1.merge(weak2, how='outer', on='Customer ID'
            , suffixes=['_weak1', '_weak2'], indicator=True)
merged['_merge'].value_counts()

right_only    197
left_only     195
both           62
Name: _merge, dtype: int64

In [21]:
#  也可以建立遮罩來快速取得需求資料
mark = merged['_merge'].isin(['left_only', 'right_only'])
merged[mark]

     Customer ID  Food ID_weak1  Food ID_weak2      _merge
1             97            4.0            NaN   left_only
2            658            1.0            NaN   left_only
3            202            2.0            NaN   left_only
6            213            8.0            NaN   left_only
7            600            1.0            NaN   left_only
10            71            3.0            NaN   left_only
11            71            8.0            NaN   left_only
12           174            3.0            NaN   left_only
13           961            9.0            NaN   left_only
14           966            5.0            NaN   left_only
15           641            4.0            NaN   left_only
16           288            2.0            NaN   left_only
17           149            4.0            NaN   left_only
18           954            2.0            NaN   left_only
19           147            9.0            NaN   left_only
20           147            8.0            NaN   left_only
23           549            6.0            NaN   left_only
25            78            7.0            NaN   left_only
26           514            5.0            NaN   left_only
27           833            7.0            NaN   left_only
28           833            3.0            NaN   left_only
29           329            8.0            NaN   left_only
30           586           10.0            NaN   left_only
31           341            1.0            NaN   left_only
32           519           10.0            NaN   left_only
33           680            9.0            NaN   left_only
34           419            7.0            NaN   left_only
35            20            1.0            NaN   left_only
36           822            6.0            NaN   left_only
37           226           10.0            NaN   left_only
..           ...            ...            ...         ...
424          622            NaN            9.0  right_only
425          959            NaN            4.0  right_only
426          959            NaN            2.0  right_only
427          810            NaN            2.0  right_only
428          488            NaN            2.0  right_only
429          188            NaN            8.0  right_only
430          305            NaN            2.0  right_only
431          869            NaN            7.0  right_only
432          131            NaN            1.0  right_only
433          208            NaN            4.0  right_only
434          145            NaN            5.0  right_only
435          794            NaN            6.0  right_only
436          734            NaN           10.0  right_only
437          734            NaN            1.0  right_only
438          735            NaN            2.0  right_only
439          940            NaN            8.0  right_only
440          571            NaN            7.0  right_only
441          888            NaN            2.0  right_only
442          664            NaN            6.0  right_only
443          143            NaN            4.0  right_only
444          505            NaN            3.0  right_only
445           54            NaN            8.0  right_only
446          367            NaN            8.0  right_only
447          883            NaN            8.0  right_only
448          251            NaN            9.0  right_only
449          855            NaN            4.0  right_only
450          559            NaN           10.0  right_only
451          276            NaN            4.0  right_only
452          556            NaN           10.0  right_only
453          252            NaN            9.0  right_only

[392 rows x 4 columns]

## Left Joins

In [22]:
weak1 = pd.read_csv('Restaurant - Week 1 Sales.csv')
weak2 = pd.read_csv('Restaurant - Week 2 Sales.csv')
customers = pd.read_csv('Restaurant - Customers.csv')
foods = pd.read_csv('Restaurant - Foods.csv')

In [25]:
#  利用left join取food資訊，並且加入排序
weak1.merge(foods, how='left', on='Food ID', sort=True)

     Customer ID  Food ID Food Item  Price
0            658        1     Sushi   3.99
1            600        1     Sushi   3.99
2            155        1     Sushi   3.99
3            341        1     Sushi   3.99
4             20        1     Sushi   3.99
5             77        1     Sushi   3.99
6            100        1     Sushi   3.99
7            953        1     Sushi   3.99
8            504        1     Sushi   3.99
9            323        1     Sushi   3.99
10           922        1     Sushi   3.99
11           909        1     Sushi   3.99
12           602        1     Sushi   3.99
13            74        1     Sushi   3.99
14           703        1     Sushi   3.99
15           962        1     Sushi   3.99
16           968        1     Sushi   3.99
17           190        1     Sushi   3.99
18           163        1     Sushi   3.99
19           321        1     Sushi   3.99
20           310        1     Sushi   3.99
21           798        1     Sushi   3.99
22            92        1     Sushi   3.99
23           646        1     Sushi   3.99
24           202        2   Burrito   9.99
25           288        2   Burrito   9.99
26           954        2   Burrito   9.99
27           203        2   Burrito   9.99
28           876        2   Burrito   9.99
29            30        2   Burrito   9.99
..           ...      ...       ...    ...
220           77        9     Donut   0.99
221          506        9     Donut   0.99
222          271        9     Donut   0.99
223          380        9     Donut   0.99
224          621        9     Donut   0.99
225          413        9     Donut   0.99
226          586       10     Drink   1.75
227          519       10     Drink   1.75
228          226       10     Drink   1.75
229          682       10     Drink   1.75
230          450       10     Drink   1.75
231          358       10     Drink   1.75
232          677       10     Drink   1.75
233          250       10     Drink   1.75
234          351       10     Drink   1.75
235          937       10     Drink   1.75
236           64       10     Drink   1.75
237          912       10     Drink   1.75
238          772       10     Drink   1.75
239          919       10     Drink   1.75
240          574       10     Drink   1.75
241          338       10     Drink   1.75
242          225       10     Drink   1.75
243          475       10     Drink   1.75
244           51       10     Drink   1.75
245          809       10     Drink   1.75
246          584       10     Drink   1.75
247          274       10     Drink   1.75
248          151       10     Drink   1.75
249          535       10     Drink   1.75

[250 rows x 4 columns]

## left_on and right_on

In [26]:
weak1 = pd.read_csv('Restaurant - Week 1 Sales.csv')
weak2 = pd.read_csv('Restaurant - Week 2 Sales.csv')
customers = pd.read_csv('Restaurant - Customers.csv')
foods = pd.read_csv('Restaurant - Foods.csv')

In [27]:
#  在之前的案例中，我們透過on來設置join的欄位，但這都是建立在欄位名稱相同的情況
#  如果是在不相同的情況下，該如何處理?left_on and right_on
#  weak2是customer id
weak2.head()

   Customer ID  Food ID
0          688       10
1          813        7
2          495       10
3          189        5
4          267        3

In [28]:
#  客戶主檔內是id
customers.head()

   ID First Name Last Name  Gender  Company                     Occupation
0   1     Joseph   Perkins    Male  Dynazzy  Community Outreach Specialist
1   2   Jennifer   Alvarez  Female     DabZ        Senior Quality Engineer
2   3      Roger     Black    Male  Tagfeed              Account Executive
3   4     Steven     Evans    Male     Fatz               Registered Nurse
4   5       Judy  Morrison  Female  Demivee                Legal Assistant

In [29]:
#  利用left_on and right_on來執行join
weak2.merge(customers, how='inner', left_on='Customer ID', right_on='ID')

,Customer ID,Food ID,ID,First Name,Last Name,Gender,Company,Occupation
0,688,10,688,Carl,Williamson,Male,Thoughtmix,Graphic Designer
1,813,7,813,Johnny,Walker,Male,Kayveo,Developer II
2,495,10,495,Deborah,Little,Female,Babbleblab,VP Accounting
3,495,6,495,Deborah,Little,Female,Babbleblab,VP Accounting
4,495,2,495,Deborah,Little,Female,Babbleblab,VP Accounting
5,495,2,495,Deborah,Little,Female,Babbleblab,VP Accounting
6,189,5,189,Roger,Gordon,Male,Skilith,Operator
7,267,3,267,Matthew,Wood,Male,Agimba,Product Engineer
8,310,5,310,Bobby,Sims,Male,Skynoodle,Marketing Manager
9,761,2,761,Stephanie,Olson,Female,Rhynoodle,Web Developer IV
10,761,3,761,Stephanie,Olson,Female,Rhynoodle,Web Developer IV
11,443,5,443,Robert,Thompson,Male,Oozz,Teacher
12,729,9,729,Roger,Lawrence,Male,Wikizz,Web Designer I
13,741,8,741,Diana,Welch,Female,Eayo,Occupational Therapist
14,847,6,847,Irene,Owens,Female,Yabox,Accountant II
15,156,10,156,Stephanie,Kelly,Female,Youopia,Automation Specialist III
16,550,7,550,Walter,Miller,Male,Yata,Payment Adjustment Coordinator
17,620,10,620,Anne,Hill,Female,Dabshots,Recruiter
18,272,4,272,Jacqueline,Olson,Female,Gigashots,Director of Sales
19,511,2,511,Phyllis,Morgan,Female,Eimbee,Environmental Specialist
20,8,6,8,Frances,Adams,Female,Dabshots,Developer III
21,534,7,534,Carl,Butler,Male,Npath,Office Assistant I
22,909,6,909,Cheryl,Davis,Female,Edgeify,Health Coach IV
23,732,9,732,Daniel,Grant,Male,Riffpath,Nurse Practicioner
24,372,4,372,Steve,Robinson,Male,Zoomlounge,Dental Hygienist
25,713,1,713,Kenneth,Schmidt,Male,Skyble,Financial Analyst
26,496,3,496,Brian,Murray,Male,Abatz,Senior Sales Associate
27,496,8,496,Brian,Murray,Male,Abatz,Senior Sales Associate
28,381,9,381,Charles,Torres,Male,Tazzy,Food Chemist
29,13,2,13,Ruth,Alvarez,Female,Twitterlist,Mechanical Systems Engineer
...,...,...,...,...,...,...,...,...
220,131,1,131,Margaret,Porter,Female,Eazzy,Sales Associate
221,520,7,520,Melissa,Wallace,Female,Skyvu,Administrative Officer
222,208,4,208,Bonnie,Rice,Female,Eamia,Cost Accountant
223,145,5,145,Doris,Wagner,Female,Browsezoom,Graphic Designer
224,794,6,794,Bobby,Peterson,Male,Fivespan,Financial Analyst
225,734,10,734,Robin,Thomas,Female,Izio,Account Coordinator
226,734,1,734,Robin,Thomas,Female,Izio,Account Coordinator
227,540,3,540,Jessica,Hicks,Female,Cogibox,Structural Analysis Engineer
228,735,2,735,Eugene,Elliott,Male,Meedoo,VP Marketing
229,940,8,940,Bonnie,Bowman,Female,Avavee,Internal Auditor
230,571,7,571,David,Collins,Male,Midel,Assistant Professor
231,888,2,888,Jimmy,Wright,Male,Npath,Analog Circuit Design manager
232,664,6,664,Donna,Butler,Female,Miboo,Community Outreach Specialist
233,143,4,143,Christopher,Long,Male,Mybuzz,Accounting Assistant III
234,505,3,505,Douglas,Edwards,Male,Jabbersphere,Recruiting Manager
235,54,8,54,Amanda,Berry,Female,Jaxspan,Automation Specialist III
236,367,8,367,Mildred,Carr,Female,Jabberbean,Account Executive
237,883,8,883,Sarah,Kim,Female,Topicshots,Cost Accountant
238,251,9,251,Joseph,Anderson,Male,Quinu,Administrative Officer
239,855,4,855,Mildred,Watson,Female,Yodel,Product Engineer
240,233,3,233,Robin,Lopez,Female,Wordpedia,Editor
241,559,10,559,Jeffrey,Henry,Male,Brightdog,Environmental Tech
242,677,3,677,Richard,Martin,Male,Gabtype,Analog Circuit Design manager
243,276,4,276,Kimberly,Olson,Female,Voonyx,Occupational Therapist
244,45,8,45,Earl,Marshall,Male,Agivu,Dental Hygienist
245,945,4,945,Anne,Reed,Female,Twitterworks,Director of Sales
246,783,10,783,Phyllis,Meyer,Female,Voolia,Information Systems Manager
247,556,10,556,Samuel,Bailey,Male,Oyoloo,Nurse
248,252,9,252,Douglas,Powell,Male,Jetwire,Geologist IV
249,249,6,249,Anthony,Carpenter,Male,Shuffletag,Health Coach I

In [31]:
#  如果用on做join?
weak2.merge(customers, how='inner', on='Customer ID')

KeyError: 'Customer ID'

In [34]:
#  join之後，如果有不需要的欄位再執行drop
weak2.merge(customers, how='inner', left_on='Customer ID', right_on='ID').drop('ID', axis='columns').head()

,Customer ID,Food ID,First Name,Last Name,Gender,Company,Occupation
0,688,10,Carl,Williamson,Male,Thoughtmix,Graphic Designer
1,813,7,Johnny,Walker,Male,Kayveo,Developer II
2,495,10,Deborah,Little,Female,Babbleblab,VP Accounting
3,495,6,Deborah,Little,Female,Babbleblab,VP Accounting
4,495,2,Deborah,Little,Female,Babbleblab,VP Accounting

## Merging b Indexes with  left_index and right_index

In [37]:
weak1 = pd.read_csv('Restaurant - Week 1 Sales.csv')
weak2 = pd.read_csv('Restaurant - Week 2 Sales.csv')
#  加入id做索引
customers = pd.read_csv('Restaurant - Customers.csv', index_col='ID')
#  加入food_id做索引
foods = pd.read_csv('Restaurant - Foods.csv', index_col='Food ID')

In [39]:
#  利用索引來做join的欄位，設置right_index=True，代表以id做鍵值 
#  使用索引進行合併的優點是不會出現重覆的列
weak1.merge(customers, how='left', left_on='Customer ID', right_index=True)

,Customer ID,Food ID,First Name,Last Name,Gender,Company,Occupation
0,537,9,Cheryl,Carroll,Female,Zoombeat,Registered Nurse
1,97,4,Amanda,Watkins,Female,Ozu,Account Coordinator
2,658,1,Patrick,Webb,Male,Browsebug,Community Outreach Specialist
3,202,2,Louis,Campbell,Male,Rhynoodle,Account Representative III
4,155,9,Carolyn,Diaz,Female,Gigazoom,Database Administrator III
5,213,8,Keith,Foster,Male,Gigashots,VP Quality Control
6,600,1,Sandra,Bailey,Female,Jaxnation,Sales Associate
7,503,5,Justin,Daniels,Male,Oloo,Environmental Tech
8,71,3,Carolyn,Reyes,Female,Twimbo,Safety Technician IV
9,174,3,Anna,Miller,Female,Innojam,Developer I
10,961,9,Ralph,Richards,Male,Thoughtstorm,Accountant I
11,966,5,Robert,Ford,Male,Jabbertype,Account Representative IV
12,641,4,Donna,Gutierrez,Female,Dabtype,Assistant Professor
13,288,2,Kenneth,Jackson,Male,Voomm,Associate Professor
14,149,4,Jennifer,Oliver,Female,Topiclounge,Database Administrator III
15,954,2,Thomas,Perkins,Male,Roodel,Account Executive
16,147,9,Theresa,Morales,Female,Abata,Occupational Therapist
17,155,1,Carolyn,Diaz,Female,Gigazoom,Database Administrator III
18,550,6,Walter,Miller,Male,Yata,Payment Adjustment Coordinator
19,101,7,Jeremy,Nelson,Male,Brainlounge,Web Developer IV
20,549,6,Harold,Rivera,Male,Topdrive,Cost Accountant
21,75,6,Catherine,Carpenter,Female,Zoozzy,Marketing Manager
22,78,7,Robert,Kennedy,Male,Edgewire,Chemical Engineer
23,514,5,Jack,Hill,Male,Blogtags,Assistant Professor
24,833,7,Carolyn,Dunn,Female,Yadel,Recruiter
25,329,8,Amanda,Nguyen,Female,Meezzy,Associate Professor
26,586,10,Doris,Mcdonald,Female,Youfeed,Marketing Assistant
27,341,1,Rachel,Robinson,Female,Twinder,Safety Technician IV
28,519,10,Lillian,Rogers,Female,Eazzy,Paralegal
29,680,9,Irene,Gordon,Female,Voolith,Database Administrator II
...,...,...,...,...,...,...,...
220,147,8,Theresa,Morales,Female,Abata,Occupational Therapist
221,745,4,Nicole,Garza,Female,Topiczoom,General Manager
222,184,3,Jesse,Edwards,Male,Zoombeat,Administrative Officer
223,828,8,Mary,Payne,Female,Oyonder,Assistant Media Planner
224,578,5,Donald,Matthews,Male,Fiveclub,Physical Therapy Assistant
225,491,4,Anna,Perkins,Female,Zazio,Quality Engineer
226,62,4,Andrew,Tucker,Male,Leenti,Structural Analysis Engineer
227,77,9,Lori,Edwards,Female,Dabvine,Sales Representative
228,506,9,Mildred,Mendoza,Female,Vitz,Environmental Tech
229,271,9,Beverly,Ward,Female,Brainbox,Automation Specialist II
230,584,10,Jeffrey,Simmons,Male,Flipstorm,Chemical Engineer
231,148,5,Patricia,Reid,Female,Shuffledrive,Analog Circuit Design manager
232,595,3,Bruce,Kennedy,Male,Mydo,Recruiter
233,274,10,Gary,Reid,Male,Fivespan,Executive Secretary
234,646,1,Wanda,Lane,Female,Twiyo,Help Desk Technician
235,520,8,Melissa,Wallace,Female,Skyvu,Administrative Officer
236,644,8,Louis,Brooks,Male,Nlounge,VP Quality Control
237,725,8,Carol,Russell,Female,BlogXS,Pharmacist
238,934,4,Joseph,Burton,Male,Leexo,Compensation Analyst
239,151,10,Brandon,Oliver,Male,Voomm,Internal Auditor
240,945,5,Anne,Reed,Female,Twitterworks,Director of Sales
241,343,3,Joe,Price,Male,Fanoodle,Marketing Manager
242,380,9,Martha,Payne,Female,Quinu,Assistant Media Planner
243,911,4,Patrick,Reed,Male,Jabberstorm,Senior Quality Engineer
244,621,9,Amy,Long,Female,Skidoo,Research Associate
245,413,9,Diane,Bailey,Female,Wikibox,Technical Writer
246,926,6,Anne,Wagner,Female,Skyba,Legal Assistant
247,134,3,Diana,Hall,Female,Quinu,Financial Advisor
248,396,6,Juan,Romero,Male,Zoonder,Analyst Programmer
249,535,10,Nancy,Cox,Female,Trudeo,Research Associate

In [43]:
sales = weak1.merge(customers, how='left', left_on='Customer ID'
                    , right_index=True)
sales = sales.merge(foods, how='left', left_on='Food ID', right_index=True)
sales.head()

,Customer ID,Food ID,First Name,Last Name,Gender,Company,Occupation,Food Item,Price
0,537,9,Cheryl,Carroll,Female,Zoombeat,Registered Nurse,Donut,0.99
1,97,4,Amanda,Watkins,Female,Ozu,Account Coordinator,Quesadilla,4.25
2,658,1,Patrick,Webb,Male,Browsebug,Community Outreach Specialist,Sushi,3.99
3,202,2,Louis,Campbell,Male,Rhynoodle,Account Representative III,Burrito,9.99
4,155,9,Carolyn,Diaz,Female,Gigazoom,Database Administrator III,Donut,0.99

In [45]:
#  練習其它的join
weak1.merge(weak2, how='left', left_index=True, right_index=True, suffixes=['_weak1','_weak2'])

     Customer ID_weak1  Food ID_weak1  Customer ID_weak2  Food ID_weak2
0                  537              9                688             10
1                   97              4                813              7
2                  658              1                495             10
3                  202              2                189              5
4                  155              9                267              3
5                  213              8                310              5
6                  600              1                761              2
7                  503              5                443              5
8                   71              3                729              9
9                  174              3                741              8
10                 961              9                847              6
11                 966              5                156             10
12                 641              4                550              7
13                 288              2                620             10
14                 149              4                272              4
15                 954              2                511              2
16                 147              9                  8              6
17                 155              1                534              7
18                 550              6                909              6
19                 101              7                732              9
20                 549              6                372              4
21                  75              6                713              1
22                  78              7                496              3
23                 514              5                381              9
24                 833              7                 13              2
25                 329              8                101              4
26                 586             10                325              7
27                 341              1                674              2
28                 519             10                564              8
29                 680              9                578              5
..                 ...            ...                ...            ...
220                147              8                495              2
221                745              4                794              6
222                184              3                734             10
223                828              8                540              3
224                578              5                735              2
225                491              4                940              8
226                 62              4                571              7
227                 77              9                888              2
228                506              9                664              6
229                271              9                343              7
230                584             10                143              4
231                148              5                505              3
232                595              3                 54              8
233                274             10                959              2
234                646              1                367              8
235                520              8                883              8
236                644              8                251              9
237                725              8                855              4
238                934              4                233              3
239                151             10                559             10
240                945              5                734              1
241                343              3                677              3
242                380              9                276              4
243                911              4                 45              8
244                621              9                945              4
245                413              9                783             10
246                926              6                556             10
247                134              3                547              9
248                396              6                252              9
249                535             10                249              6

[250 rows x 4 columns]

## .join() Method

In [47]:
weak1 = pd.read_csv('Restaurant - Week 1 Sales.csv')
weak2 = pd.read_csv('Restaurant - Week 2 Sales.csv')
customers = pd.read_csv('Restaurant - Customers.csv')
foods = pd.read_csv('Restaurant - Foods.csv')
#  加入一個滿意度調查
satisfaction = pd.read_csv('Restaurant - Week 1 Satisfaction.csv')

In [48]:
#  標準來說，我們可以使用merge並且以兩邊的index來做join
weak1.merge(satisfaction, how='left', left_index=True, right_index=True)

     Customer ID  Food ID  Satisfaction Rating
0            537        9                    2
1             97        4                    7
2            658        1                    3
3            202        2                    7
4            155        9                   10
5            213        8                    3
6            600        1                    2
7            503        5                    5
8             71        3                   10
9            174        3                    7
10           961        9                    7
11           966        5                    5
12           641        4                    3
13           288        2                    2
14           149        4                    7
15           954        2                    4
16           147        9                    6
17           155        1                    1
18           550        6                    5
19           101        7                    5
20           549        6                    3
21            75        6                    2
22            78        7                    3
23           514        5                   10
24           833        7                    4
25           329        8                    9
26           586       10                    1
27           341        1                    4
28           519       10                    4
29           680        9                    9
..           ...      ...                  ...
220          147        8                    3
221          745        4                    8
222          184        3                    4
223          828        8                    2
224          578        5                    5
225          491        4                    2
226           62        4                    6
227           77        9                    4
228          506        9                    9
229          271        9                    2
230          584       10                    4
231          148        5                    8
232          595        3                    4
233          274       10                    2
234          646        1                    9
235          520        8                    4
236          644        8                    6
237          725        8                    6
238          934        4                    7
239          151       10                   10
240          945        5                    8
241          343        3                    1
242          380        9                    2
243          911        4                    8
244          621        9                    2
245          413        9                    1
246          926        6                    2
247          134        3                    8
248          396        6                   10
249          535       10                    3

[250 rows x 3 columns]

In [49]:
#  但是簡單一點的話，如果兩邊有相同的index，我們可以使用join
weak1.join(satisfaction)

     Customer ID  Food ID  Satisfaction Rating
0            537        9                    2
1             97        4                    7
2            658        1                    3
3            202        2                    7
4            155        9                   10
5            213        8                    3
6            600        1                    2
7            503        5                    5
8             71        3                   10
9            174        3                    7
10           961        9                    7
11           966        5                    5
12           641        4                    3
13           288        2                    2
14           149        4                    7
15           954        2                    4
16           147        9                    6
17           155        1                    1
18           550        6                    5
19           101        7                    5
20           549        6                    3
21            75        6                    2
22            78        7                    3
23           514        5                   10
24           833        7                    4
25           329        8                    9
26           586       10                    1
27           341        1                    4
28           519       10                    4
29           680        9                    9
..           ...      ...                  ...
220          147        8                    3
221          745        4                    8
222          184        3                    4
223          828        8                    2
224          578        5                    5
225          491        4                    2
226           62        4                    6
227           77        9                    4
228          506        9                    9
229          271        9                    2
230          584       10                    4
231          148        5                    8
232          595        3                    4
233          274       10                    2
234          646        1                    9
235          520        8                    4
236          644        8                    6
237          725        8                    6
238          934        4                    7
239          151       10                   10
240          945        5                    8
241          343        3                    1
242          380        9                    2
243          911        4                    8
244          621        9                    2
245          413        9                    1
246          926        6                    2
247          134        3                    8
248          396        6                   10
249          535       10                    3

[250 rows x 3 columns]

## pd.merge() Method

In [50]:
weak1 = pd.read_csv('Restaurant - Week 1 Sales.csv')
weak2 = pd.read_csv('Restaurant - Week 2 Sales.csv')
customers = pd.read_csv('Restaurant - Customers.csv')
foods = pd.read_csv('Restaurant - Foods.csv')
satisfaction = pd.read_csv('Restaurant - Week 1 Satisfaction.csv')

In [51]:
#  pandas本身也提供merge的函式
pd.merge(weak1, customers, how='left', left_on='Customer ID', right_on='ID')

,Customer ID,Food ID,ID,First Name,Last Name,Gender,Company,Occupation
0,537,9,537,Cheryl,Carroll,Female,Zoombeat,Registered Nurse
1,97,4,97,Amanda,Watkins,Female,Ozu,Account Coordinator
2,658,1,658,Patrick,Webb,Male,Browsebug,Community Outreach Specialist
3,202,2,202,Louis,Campbell,Male,Rhynoodle,Account Representative III
4,155,9,155,Carolyn,Diaz,Female,Gigazoom,Database Administrator III
5,213,8,213,Keith,Foster,Male,Gigashots,VP Quality Control
6,600,1,600,Sandra,Bailey,Female,Jaxnation,Sales Associate
7,503,5,503,Justin,Daniels,Male,Oloo,Environmental Tech
8,71,3,71,Carolyn,Reyes,Female,Twimbo,Safety Technician IV
9,174,3,174,Anna,Miller,Female,Innojam,Developer I
10,961,9,961,Ralph,Richards,Male,Thoughtstorm,Accountant I
11,966,5,966,Robert,Ford,Male,Jabbertype,Account Representative IV
12,641,4,641,Donna,Gutierrez,Female,Dabtype,Assistant Professor
13,288,2,288,Kenneth,Jackson,Male,Voomm,Associate Professor
14,149,4,149,Jennifer,Oliver,Female,Topiclounge,Database Administrator III
15,954,2,954,Thomas,Perkins,Male,Roodel,Account Executive
16,147,9,147,Theresa,Morales,Female,Abata,Occupational Therapist
17,155,1,155,Carolyn,Diaz,Female,Gigazoom,Database Administrator III
18,550,6,550,Walter,Miller,Male,Yata,Payment Adjustment Coordinator
19,101,7,101,Jeremy,Nelson,Male,Brainlounge,Web Developer IV
20,549,6,549,Harold,Rivera,Male,Topdrive,Cost Accountant
21,75,6,75,Catherine,Carpenter,Female,Zoozzy,Marketing Manager
22,78,7,78,Robert,Kennedy,Male,Edgewire,Chemical Engineer
23,514,5,514,Jack,Hill,Male,Blogtags,Assistant Professor
24,833,7,833,Carolyn,Dunn,Female,Yadel,Recruiter
25,329,8,329,Amanda,Nguyen,Female,Meezzy,Associate Professor
26,586,10,586,Doris,Mcdonald,Female,Youfeed,Marketing Assistant
27,341,1,341,Rachel,Robinson,Female,Twinder,Safety Technician IV
28,519,10,519,Lillian,Rogers,Female,Eazzy,Paralegal
29,680,9,680,Irene,Gordon,Female,Voolith,Database Administrator II
...,...,...,...,...,...,...,...,...
220,147,8,147,Theresa,Morales,Female,Abata,Occupational Therapist
221,745,4,745,Nicole,Garza,Female,Topiczoom,General Manager
222,184,3,184,Jesse,Edwards,Male,Zoombeat,Administrative Officer
223,828,8,828,Mary,Payne,Female,Oyonder,Assistant Media Planner
224,578,5,578,Donald,Matthews,Male,Fiveclub,Physical Therapy Assistant
225,491,4,491,Anna,Perkins,Female,Zazio,Quality Engineer
226,62,4,62,Andrew,Tucker,Male,Leenti,Structural Analysis Engineer
227,77,9,77,Lori,Edwards,Female,Dabvine,Sales Representative
228,506,9,506,Mildred,Mendoza,Female,Vitz,Environmental Tech
229,271,9,271,Beverly,Ward,Female,Brainbox,Automation Specialist II
230,584,10,584,Jeffrey,Simmons,Male,Flipstorm,Chemical Engineer
231,148,5,148,Patricia,Reid,Female,Shuffledrive,Analog Circuit Design manager
232,595,3,595,Bruce,Kennedy,Male,Mydo,Recruiter
233,274,10,274,Gary,Reid,Male,Fivespan,Executive Secretary
234,646,1,646,Wanda,Lane,Female,Twiyo,Help Desk Technician
235,520,8,520,Melissa,Wallace,Female,Skyvu,Administrative Officer
236,644,8,644,Louis,Brooks,Male,Nlounge,VP Quality Control
237,725,8,725,Carol,Russell,Female,BlogXS,Pharmacist
238,934,4,934,Joseph,Burton,Male,Leexo,Compensation Analyst
239,151,10,151,Brandon,Oliver,Male,Voomm,Internal Auditor
240,945,5,945,Anne,Reed,Female,Twitterworks,Director of Sales
241,343,3,343,Joe,Price,Male,Fanoodle,Marketing Manager
242,380,9,380,Martha,Payne,Female,Quinu,Assistant Media Planner
243,911,4,911,Patrick,Reed,Male,Jabberstorm,Senior Quality Engineer
244,621,9,621,Amy,Long,Female,Skidoo,Research Associate
245,413,9,413,Diane,Bailey,Female,Wikibox,Technical Writer
246,926,6,926,Anne,Wagner,Female,Skyba,Legal Assistant
247,134,3,134,Diana,Hall,Female,Quinu,Financial Advisor
248,396,6,396,Juan,Romero,Male,Zoonder,Analyst Programmer
249,535,10,535,Nancy,Cox,Female,Trudeo,Research Associate